.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 750px;
}

.container>div {
  border-bottom: 1px solid #dddddd;
  padding: 50px 0;
  width: 100%;
}

.address-box {
  width: 100%;
}

.address-box input, select {
  width: 100%;
  border: 1px solid #b0b0b0;
  padding: 15px;
  outline-color: #000;
}

.first-address, .second-address, .third-address, .fourth-address, .country, .state-province, .postal-code {
  position: relative;
}

#address1:focus + label, #address1[value]:not([value=""]) + label, #address2:focus + label, #address2[value]:not([value=""]) + label, #address3:focus + label, #address3[value]:not([value=""]) + label, #address4:focus + label, #address4[value]:not([value=""]) + label, #state-input:focus + label, #state-input[value]:not([value=""]) + label, #postal-code:focus + label, #postal-code[value]:not([value=""]) + label {
  top: 10px;
  font-size: 10px;
}

.address-box label {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.2s ease, font-size 0.2s ease;
  cursor: text;
  color: #838383;
}

#city-label.active {
  top: 10px;
  font-size: 10px;
}

#address1 {
  border-radius: 5px 5px 0 0;
}

#postal-code-input {
  border-radius: 0 0 5px 5px;
}

.select-country {
  margin-bottom: 10px;
}

.select-country select {
  border-radius: 5px;
}

.map {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 100px !important;
  border-bottom: none !important;
}

.map img {
  border-radius: 10px;
  width: 100%;
}

.first-address input, .second-address input, .third-address input, .fourth-address input, .country input, .state-province input {
  border-bottom: none;
}
