<div class="container">
  <div>
    <h1>A che tipo di alloggio avranno accesso gli<br>ospiti?</h1>
    <div class="options">
      <div class="box" (click)="sharedService.selectedDiv = 0" [class.selected]="sharedService.selectedDiv === 0">
        <div>
          <h4>Un alloggio intero</h4>
          <p>Gli ospiti hanno l'intero alloggio solo per loro.</p>
        </div>
        <div>
          <img src="./../../../assets/house-svgrepo-com.svg" alt="House">
        </div>
      </div>
      <div class="box" (click)="sharedService.selectedDiv = 1" [class.selected]="sharedService.selectedDiv === 1">
        <div>
          <h4>Una stanza</h4>
          <p>Gli ospiti hanno la loro stanza in una casa, più l'accesso agli<br>spazi condivisi.</p>
        </div>
        <div>
          <img src="./../../../assets/door-svgrepo-com.svg" alt="Door">
        </div>
      </div>
      <div class="box" (click)="sharedService.selectedDiv = 2" [class.selected]="sharedService.selectedDiv === 2">
        <div>
          <h4>Una stanza condivisa</h4>
          <p>Gli ospiti dormono in una stanza o in un'area comune che<br>potrebbe essere condivisa con te o altre persone.</p>
        </div>
        <div>
          <img src="./../../../assets/people-svgrepo-com.svg" alt="People">
        </div>
      </div>
    </div>
  </div>
</div>
